<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2" />
    <title>Resto</title>


    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <!--Bootstrap Files-->
    <link href="/css/bootstrap-3.3.2-dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/bootstrap-3.3.2-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="all">

    <!--Customize Files-->
    <link rel="stylesheet" href="/css/rest.css" type="text/css" media="all"> <!--Customize CSS file place in last-->
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" media="all">

    <!--For Toggle Menu-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#toggle-img").click(function(){
                $(".menu").slideToggle();
            });
        });
    </script>


</head>
<body>
<div class="container">


    <header>
        <div id="logo">
            <a href="#"><img src="/images/resto.png" alt="Picture Not Found"></a>
        </div>

                                <!--For Responsive Button Open-->

        <div class="toggle">
            <!--<button type="button">Click Me!</button>-->
            <img src="/images/toggle%20button.png" alt="Pic not found" id="toggle-img">
        </div>

        <ul class="menu">
            <li><span  class="glyphicon glyphicon-sunglasses icon-colour"></span><a href="#">Our Story</a></li>
            <li><span  class="glyphicon glyphicon-th-list icon-colour"></span><a href="#">Menu</a></li>
            <li><span class="glyphicon glyphicon-exclamation-sign icon-colour"></span><a href="#">Reservations</a></li>
            <li><span class="glyphicon glyphicon-edit icon-colour"></span><a href="#">News</a></li>
            <li><span class="glyphicon glyphicon-comment icon-colour"></span><a href="#">Reviews</a></li>
        </ul>

                                <!--For Responsive Button Close-->
        <nav>
            <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Reservations</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Reviews</a></li>
            </ul>
        </nav>
    </header>

</div>

                                            <!--MAIN IMAGE-->
<div id="main-pic">
    <span>This Template Is Awesome</span>
    <p class="quote">----  resto restaurant home page website template    ----</p>
</div>

<div id="main-text">
    <span>This Template Is Awesome</span>
    <p class="quote">----  resto restaurant home page website template    ----</p>
</div>

<div id="the-menu">
    <p id="the-menu-align">The Menu</p>
</div>


                                            <!--MENU SECTION-->
<div id="menu">

    <table class="table-responsive" id="menu-table">

        <tr>
            <td>Chicken Karai</td>
            <td>Rs.450</td>
            <td>Malai Boti</td>
            <td>Rs.300</td>
        </tr>

        <tr>
            <td>Chicken Karai</td>
            <td>Rs.450</td>
            <td>Malai Boti</td>
            <td>Rs.300</td>
        </tr>



        <tr>
            <td>Chicken Karai</td>
            <td>Rs.450</td>
            <td>Malai Boti</td>
            <td>Rs.300</td>
       </tr>

       <tr>

           <td>Chicken Karai</td>
           <td>Rs.450</td>
           <td>Malai Boti</td>
           <td>Rs.300</td>

       </tr>

    </table>

</div>



<div id="featured-dishes-align">

    <span id="featured-dishes-heading">Featured Dishes</span><br><br>

        <ul id="featured-dishes" class="container">
            <li>
                <img src="/images/Dish1.png" alt="Picture Not Found" class="dish-img"><br><br>
                <span class="dish-name">Fugiat Nuila Sint</span>
                <span class="dish-price">$50</span><br><br>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
            </li>
            <li>
                <img src="/images/Dish2.png" alt="Picture Not Found" class="dish-img"><br><br>
                <span class="dish-name">Daute Iruri Dolor</span>
                <span class="dish-price">$50</span><br><br>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
            </li>
            <li><img src="/images/Dish3.png" alt="Picture Not Found" class="dish-img"><br><br>
                <span class="dish-name">Officia Desrunt Mollit</span>
                <span class="dish-price">$50</span><br><br>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
            </li>
            <li>
                <img src="/images/Dish4.png" alt="Picture Not Found" class="dish-img"><br><br>
                <span class="dish-name">Pim Minim Veniam</span>
                <span class="dish-price">$50</span><br><br>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
                <span class="glyphicon glyphicon-star star-align"></span>
            </li>
        </ul>
</div>



    <span id="gallery-heading">The Gallery</span><br><br><br>

    <div id="dish-align">

    <table class="table-responsive" id="table-align" frame="void">
        <tr>
            <td rowspan="2"><img src="/images/merge%20img.jpg" alt="Picture Not Found" class="gallery" id="merge-img"></td>
            <td><img src="/images/image1.jpg" alt="Picture Not Found" class="gallery"></td>
            <td><img src="/images/image2.jpg" alt="Picture Not Found" class="gallery"></td>

        </tr>
        <tr>
            <td><img src="/images/image3.jpg" alt="Picture Not Found" class="gallery"></td>
            <td><img src="/images/image4.jpg" alt="Picture Not Found" class="gallery"></td>
        </tr>

    </table>

    </div>



<div id="footer-links">

    <!--<div class="container">-->

        <div id="footer-align">

            <div class="links">
                <ul>
                    <li class="footer-heading">New York Resturant</li>
                    <li class="address">334 Anmoore Road</li>
                    <li class="address">New York,NY 1004</li>
                    <li>718-234-109</li>
                </ul>

            </div>

            <div class="links">
                <ul>
                    <li class="footer-heading">France Restaurant</li>
                    <li class="address">68,rule de la Couronne</li>
                    <li class="address">75002 PARIS</li>
                    <li>02.94.23.44.56</li>
                </ul>
            </div>

            <div class="links">
                <ul id="more-option">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="links">
                <ul>
                    <li class="footer-heading"><a href="#"><img src="/images/resto%20footer.png" alt="Picture Not Found"></a></li>
                    <li class="address">Copy Right© Zain Ansari,2016</li>
                </ul>
            </div>



        <!--</div>-->
    </div>
</div>



</body>
</html>